*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.carousel {
  width: 80%;
  max-width: 992px;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.selected {
  position: relative;
}

.img-container {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-description {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  text-align: right;
  color: white;
  width: 50%;
}

.image-description h2 {
  padding-bottom: 0.5rem;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  position: relative;
}

.thumbnails img {
  width: 100%;
}

.arrow-btn {
  position: absolute;
  width: 100%;
  height: calc(100% / 5);
  background: rgba(27, 27, 27, 0.5);
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  z-index: 1;
}

.arrow-btn.previous {
  top: 0;
  left: 0;
}

.arrow-btn.next {
  bottom: 0;
  left: 0;
}

.arrow-btn i {
  font-size: 1.8rem;
  color: rgb(209, 209, 209);
}

.img-container.active {
  opacity: 1;
}

.thumbnails .active {
  border: 1px solid white;
  position: relative;
}

.thumbnails .active::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
